<div id="<%= dom_id reservation %>">
  <p>
    <strong>Eventopic:</strong>
    <%= reservation.eventopic_id %>
  </p>

  <p>
    <strong>Eventdate:</strong>
    <%= reservation.eventdate_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= reservation.profile_id %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= reservation.availability_id %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= reservation.numero %>
  </p>

  <p>
    <strong>Prezzo eventdate:</strong>
    <%= reservation.prezzo_eventdate %>
  </p>

  <p>
    <strong>Prezzo totale:</strong>
    <%= reservation.prezzo_totale %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= reservation.booking_id %>
  </p>

  <p>
    <strong>Caso studio:</strong>
    <%= reservation.caso_studio %>
  </p>

  <p>
    <strong>Metodo pagamento:</strong>
    <%= reservation.metodo_pagamento %>
  </p>

</div>
